<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<fieldset>
    <legend>Your Details:</legend>
    <label for="name">Name: </label>
    <input type="text" id="name" value="">

    <label for="email">Email: </label>
    <input type="email" id="email">
</fieldset>
<fieldset>
    <legend>Your Review:</legend>
    <label for="ques">How did you hear about us</label>
    <select id="ques"><br>
        <option value="Google">Google</option>
        <option value="Ebay">Ebay</option>
        <option value="Bing">Bing</option>
    </select><br>
    <label for="check">Would you visit again?</label> <br>
    <input id="check" type="radio">Yes
    <input id="check" type="radio">No
    <input id="check" type="radio">Maybe<br>
    <label for="Comments">Comments</label><br>
    <textarea id="Comments" cols="30" rows="10"></textarea><br></br>
    <input type="checkbox" checked>Sign me up for email updates <br>
    <input type="submit" value="Submit review">
</fieldset>
</body>
</html>