<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="top">
    <div class="header padding-16">
        <div class="logo">
            Music Store
        </div>
        <div class="ms_top_trend">
            <span class="ms-color">Trending Songs :</span> Dream your moments, Until I Met You, Gim
        </div>
    </div>
</div>
<div class="main">
    <div class="about row center padding-32">
        <h1 class="ms-color">Despacito</h1>
        <img src="img/banner.png" alt="Me" class="w3-image">
        <audio src="audio/Despacito-J-Fla.mp3" controls></audio>
        <div class="padding-32">
            <h4>Singer: J.Fla</h4>
            <p>Si
                Sabes que ya llevo y<br/>
                Un rato mirándote<br/>
                Tengo que bailar contigo hoy<br/>
                Di<br/>
                Que tu mirada<br/>
                Ya estaba llamándome<br/>
                Muéstrame el camino que yo voy<br/>
                Tu<br/>
                Tu eres el imán<br/>
                Y yo soy el metal<br/>
                Me voy acercando<br/>
                Y voy armando el plan<br/>
                Solo con pensarlo<br/>
                Se acelera el pulso<br/>
                Ya<br/>
                Ya me esta gustando<br/>
                Más de lo normal<br/>
                Todos mis sentidos<br/>
                Van pidiendo más<br/>
                Esto hay que tomarlo<br/>
                Sin ningún apuro<br/>
                Despasito<br/>
                Quiero respirar tu cuello despacito<br/>
                Deja que te diga cosas al oído<br/>
                Para que te acuerdes<br/>
                Si no estas conmigo<br/>
                Despasito<br/>
                Quiero desnudarte a besos despacito<br/>
                Firmar las paredes de tu laberinto<br/>
                Y hacer de tu cuerpo<br/>
                Todo un manuscrito<br/>
                Quiero ver bailar tu pelo<br/>
                Quiero ser tu ritmo<br/>
                Que le enseñes a mi boca<br/>
                Tus lugares favorito<br/>
                Déjame sobre pasar<br/>
                Tus zonas de peligro<br/>
                Hasta provocar tus gritos<br/>
                Y que olvides tu apellido<br/>
                Despacito<br/>
                Despasito<br/>
                Quiero respirar tu cuello despacito<br/>
                Deja que te diga cosas al oído<br/>
                Para que te acuerdes<br/>
                Si no estas conmigo<br/>
                Despasito<br/>
                Quiero desnudarte a besos despacito<br/>
                Firmar las paredes de tu laberinto<br/>
                Y hacer de tu cuerpo<br/>
                Todo un manuscrito<br/>
                Quiero ver bailar tu pelo<br/>
                Quiero ser tu ritmo<br/>
                Que le enseñes a mi boca<br/>
                Tus lugares favoritos<br/>
                Déjame sobre pasar<br/>
                Tus zonas de peligro<br/>
                Hasta provocar tus gritos<br/>
                Y que olvides tu apellido<br/>
                Despasito
            </p>
        </div>
    </div>

    <!--    Footer Section-->
    <div class="footer row padding-32">
        <div class="third">
            <h3 class="ms-color">Music Store Stations</h3>
            <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless.
                Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...
            </p>
            <p>
                Powered by <a href="#">aptech.ac.vn</a>
            </p>
        </div>
        <div class="third">
            <h3 class="ms-color">Download Our App</h3>
            <p>Go Mobile with our app.
                Listen to your favourite songs at just one click. Download Now !
            </p>
            <a href="#"><img src="img/google_play.jpg" alt="" /></a>
            <a href="#"><img src="img/app_store.jpg" alt="" /></a>
            <a href="#"><img src="img/windows.jpg" alt="" /></a>
        </div>
        <div class="third">
            <h3 class="ms-color">Contact Us</h3>
            <p> <span class="con-title">Call us :</span>
                <span>(+84) 24-7300-8855, (+84) 28-7300-8866</span>
            </p>
            <p>  <span class="con-title">Email us :</span>
                <span><a href="#">demo@mail.com </a>, <a href="#">fpt-aptech@mail.com</a></span>
            </p>
            <p> <span class="con-title">Walk in :</span>
                <span>Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, HN</span><br/>
                <span>590 Cách Mạng Tháng Tám, Quận 3, TPHCM</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
