<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="CSS/Musicstore.css">
</head>
<body>
<header>
    <span style="font-size: 150%">Music Store</span>
    <span id="header"><span style="color: #3bc8e5">Trending Songs:</span> Dream your moments, Until I Met You, Gim</span>
</header>
<section>
    <article>
        <p>Recently Played</p>
        <figure class="anh1">
            <img class="anh" src="img/r_music1.jpg" height="240" width="240"/>
            <figcaption>
                <h2>Dream your Moments(Duet)</h2>
                <h4>Ava Cornish & Brian Hill</h4>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/r_music2.jpg" height="240" width="240"/>
            <figcaption>
                <h2>Until I Met You</h2>
                <h4>Ava Cornish & Brian Hill</h4>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/r_music3.jpg" height="240" width="240"/>
            <figcaption>
                <h2>Gimme Some Courage</h2>
                <h4>Ava Cornish & Brian Hill</h4>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/r_music4.jpg" height="240" width="240"/>
            <figcaption>
                <h2>Dark Alley Acoustic</h2>
                <h4>Ava Cornish & Brian Hill</h4>
            </figcaption>
        </figure>
    </article>
    <article>
        <p>Featured Albums</p>
        <figure class="anh1"><img class="anh" src="img/song1.jpg" height="240" width="240"/>
            <figcaption>
                <h3>Best Of Ava Cornish</h3>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/song2.jpg" height="240" width="240"/>
            <figcaption>
                <h3>Until I Met You</h3>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/song3.jpg" height="240" width="240"/>
            <figcaption>
                <h3>Gimme Some Courage</h3>
            </figcaption>
        </figure>
        <figure class="anh1"><img class="anh" src="img/song5.jpg" height="240" width="240"/>
            <figcaption>
                <h3>Dark Alley Acoustic</h3>
            </figcaption>
        </figure>
    </article>
</section>
    <nav>
        <ul>
            <li><a class="nav" href="#"><<</a></li>
            <li><a class="nav" href="#">1</a></li>
            <li><a class="nav" href="#">2</a></li>
            <li><a class="nav" href="#">3</a></li>
            <li><a class="nav" href="#">4</a></li>
            <li><a class="nav" href="#">>></a></li>
        </ul>
    </nav>
<p class="trend">
    Trending Songs
</p>
<section>
    <figure class="break">
        <img class="banner" src="img/banner.png" height="539" width="511"/>
        <figcaption>
            <h3>Record Breaking Albums !<br><i>With Passion For Real, Good Music</i></h3>
            <h4 style="margin-bottom: 60px">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless
                Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</h4>
        </figcaption>
    </figure>
</section>
<footer>
    <table>
        <tr>
            <th>Music Store Stations</th>
            <th>Download Our App</th>
            <th>Contact Us</th>
        </tr>
        <tr>
            <td>Dream your moments, Until I Met
                You, Gimme Some Courage, Dark
                Alley, One More Of A Stranger,
                Endless. Things, The Heartbeat
                Stops, Walking Promises, Desired
                Games and many more...
                Powered by <a href="aptech.ac.vn">aptech.ac.vn</a>
            </td>
            <td>Go Mobile with our app. Listen to
                your favourite songs at just one
                click. Download Now !

                <img class="download" src="img/google_play.jpg" height="40" width="140"/>
                <img class="download" src="img/app_store.jpg" height="40" width="140"/>
                <img class="download" src="img/windows.jpg" height="40" width="140"/>
            </td>
        <td>Call us : (+84) 24-7300-8855, (+84)
            28-7300-8866
            Email us : <a href="mailto:demo@mail.com">demo@mail.com</a>, <a href="mailto:fptaptech@
            mail.com">fptaptech@mail.com</a>
            Walk in : Số 8, Tôn Thất Thuyết, Mỹ
            Đình, Từ Liêm, HN
            590 Cách Mạng Tháng Tám, Quận
            3, TPHCM</td>
        </tr>
    </table>
</footer>
</body>
</html>