<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="CSS/Musicstore%20chuan.css" rel="stylesheet">
</head>
<body>
<div class="top">
    <div class="header padding-16">
        <div class="logo">
            Music Store
        </div>
        <div class="ms_top_trend">
            <span class="ms-color">Trending Songs :</span> Dream your moments, Until I Met You, Gim
        </div>
    </div>
</div>
<div class="main">
    <div class="ms-heading">
        <h3 class="ms-color">Recently Played</h3>
    </div>
    <div class="row padding-16">
        <div class="item">
            <img src="img/r_music1.jpg" alt="Sandwich">
            <h3>Dream Your Moments (Duet)</h3>
            <p>Ava Cornish & Brian Hill</p>
        </div>
        <div class="item">
            <img src="img/r_music2.jpg" alt="Sandwich">
            <h3>Until I Met You</h3>
            <p>Ava Cornish & Brian Hill</p>
        </div>
        <div class="item">
            <img src="img/r_music3.jpg" alt="Sandwich">
            <h3>Gimme Some Courage</h3>
            <p>Ava Cornish & Brian Hill</p>
        </div>
        <div class="item">
            <img src="img/r_music4.jpg" alt="Sandwich">
            <h3>Dark Alley Acoustic</h3>
            <p>Ava Cornish & Brian Hill</p>
        </div>
    </div>
    <div class="ms-heading">
        <h3 class="ms-color">Featured Albums</h3>
    </div>
    <div class="row padding-16">
        <div class="item">
            <img src="img/song1.jpg" alt="Sandwich">
            <h4>Best Of Ava Cornish</h4>
        </div>
        <div class="item">
            <img src="img/song2.jpg" alt="Sandwich">
            <h4>Until I Met You</h4>
        </div>
        <div class="item">
            <img src="img/song3.jpg" alt="Sandwich">
            <h4>Gimme Some Courage</h4>
        </div>
        <div class="item">
            <img src="img/song5.jpg" alt="Sandwich">
            <h4>Dark Alley Acoustic</h4>
        </div>
    </div>
    <div class="row center padding-32">
        <div class="bar">
            <a href="#" class="bar-item button hover-black">«</a>
            <a href="#" class="bar-item button black">1</a>
            <a href="#" class="bar-item button hover-black">2</a>
            <a href="#" class="bar-item button hover-black">3</a>
            <a href="#" class="bar-item button hover-black">4</a>
            <a href="#" class="bar-item button hover-black">»</a>
        </div>
    </div>
    <hr>
    <!--About Section-->
    <div class="about row center padding-32">
        <h1 class="ms-color">Trending Songs</h1>
        <img src="img/banner.png" alt="Me" class="w3-image">
        <div class="padding-32">
            <h4>Record Breaking Albums !</h4>
            <h6><i>With Passion For Real, Good Music</i></h6>
            <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless<br> Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</p>
        </div>
    </div>
    <hr>
    <!--    Footer Section-->
    <div class="footer row padding-32">
        <div class="third">
            <h3 class="ms-color">Music Store Stations</h3>
            <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless.
                Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...
            </p>
            <p>
                Powered by <a href="#">aptech.ac.vn</a>
            </p>
        </div>
        <div class="third">
            <h3 class="ms-color">Download Our App</h3>
            <p>Go Mobile with our app.
                Listen to your favourite songs at just one click. Download Now !
            </p>
            <a href="#"><img src="img/google_play.jpg" alt="" /></a>
            <a href="#"><img src="img/app_store.jpg" alt="" /></a>
            <a href="#"><img src="img/windows.jpg" alt="" /></a>
        </div>
        <div class="third">
            <h3 class="ms-color">Contact Us</h3>
            <p> <span class="con-title">Call us :</span>
                <span>(+84) 24-7300-8855, (+84) 28-7300-8866</span>
            </p>
            <p>  <span class="con-title">Email us :</span>
                <span><a href="#">demo@mail.com </a>, <a href="#">fpt-aptech@mail.com</a></span>
            </p>
            <p> <span class="con-title">Walk in :</span>
                <span>Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, HN</span><br/>
                <span>590 Cách Mạng Tháng Tám, Quận 3, TPHCM</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
