.lCard{
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 6px;
    position: fixed;
    left: 450px;
    top: 100px;
    }
.rCard{
    width: 100px;
    background-color: red;
    padding: 7px;
    position: relative;
    top: 93px;
    left: 300px;
  }
.bCard{
    width: 100px;
    height: 100px;
    background-color: green;
    padding: 6px;
    position: absolute;
    left: 310px;
    bottom: 320px;
}