*
{font-family: Verdana;
font-size: 13pt;
}
TitleDetail,Price,OrderInfo,Edition{
    display: block;
    margin-bottom: 4px;
}
Title{
    color: rgb(36,27,160);
    font-weight: bold;
}
EditionInfo
{font-weight: bold}
Price{
    color: rgb(29,87,175);
}
NewPrice, OldPrice{
    color: rgb(180,7,7);
    margin-left: 5px;
    margin-right: 5px;
}
NewPrice{
    font-weight: bold;
}

OrderInfo{
    font-size: 10pt;
}
GetDate{
    font-weight: bold;
    font-size: 11pt;
}
Hours,Minutes{
    font-weight: bold;
    color: green;
    font-size: 11pt;
}
Edition{
    font-size: 10pt;
    border-bottom: 1px dashed gray;
    padding-bottom: 10px;
    margin-bottom: 7px;
}
EditionType{
    font-size: 10pt;
    color: rgb(29,87,175);
}